{{#each this}}
<li>
    <img src="{{flag}}" alt="Image" width="480" height="320">
    <h2 class='name'> {{name}}</h2>
    <h3 class="capital">{{capital}}</h3>
    <h3 class="population">{{population}}</h3>
    <ul class="links">{{languages}}
        <li>{{name}}</li>
    </ul>
</li>
{{/each}}